<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken GAME</title>

</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Janken GAME!</h1>

  <div th:if="${userName}">
    Hi [[${userName}]]
  </div>

  <!--roomがあった場合にユーザ名を表示する-->
  <h1>エントリー</h1>
  <div th:if="${room}">
    <ul>
      <!--<li th:each="user : ${room.users}">[[${user}]]</li>-->
      <li th:each="users : ${DBusers}"><a th:href="@{/match(id=${users.id})}"> [[${users.userName}]]</a></li>
    </ul>
  </div>



  <p th:if="${DBmatches}">
  <h1>試合結果</h1>
  <div th:each="DBmatch,stat:${DBmatches}">
    <tr>
      <td>ID:[[${DBmatch.id}]]</td>
      <td>user1:[[${DBmatch.user1}]]</td>
      <td>user2:[[${DBmatch.user2}]]</td>
      <td>user1の手:[[${DBmatch.user1Hand}]]</td>
      <td>user2の手:[[${DBmatch.user2Hand}]]</td>
    </tr>
  </div>
  </p>

</body>

</html>
