<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken GAME</title>

</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Janken GAME!</h1>

  <!--roomがあった場合にユーザ名を表示する-->
  <div th:if="${room}">
    <p>エントリー</p>
    <ul>
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>

  <div th:if="${userName}">
    Hi [[${userName}]]
  </div>

  <a href="/janken/1">グー</a>
  <a href="/janken/2">チョキ</a>
  <a href="/janken/3">パー</a>
  <div th:if="${result}">
    <p>
      あなたの手 [[${user}]]<br>
      相手の手[[${enemy}]]<br>
      結果：[[${result}]]
    </p>
  </div>

</body>

</html>
